.admin-dashboard {
  display: flex;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  font-family: "Inter-SemiBold", Helvetica, sans-serif; /* Nueva fuente */
}

.sidebar {
  width: 250px; /* Fija el ancho del menú lateral */
  background-color: #114ef3; /* Azul oscuro */
  color: white;
  padding: 20px;
  
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter", Helvetica, sans-serif;
}

.sidebar li:hover {
  background-color: #2563eb; /* Azul más claro al pasar el mouse */
}

.main-content {
  flex: 1; /* Hace que el área principal ocupe el espacio restante */
  padding: 30px;
  background-color: #f3f4f6; /* Fondo gris claro */
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.main-content p {
  color: #4b5563; /* Texto gris */
}
