.modal-overlay {
  position: fixed; /* Fija el modal en toda la pantalla */
  top: 0; /* Inicia en la parte superior */
  left: 0; /* Inicia en la parte izquierda */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 100%; /* Ocupa todo el alto de la pantalla */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente oscuro */
  display: flex; /* Usa flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 1000; /* Asegura que el modal aparezca sobre otros elementos */
}

.modal-content {
  background-color: #ffffff; /* Fondo blanco para el contenido */
  padding: 20px; /* Espaciado interno alrededor del contenido */
  border-radius: 10px; /* Bordes redondeados del contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  width: 400px; /* Ancho fijo para el modal */
  text-align: center; /* Centra el texto dentro del modal */
}

.category-list {
  list-style: none; /* Elimina los estilos predeterminados de listas */
  padding: 0; /* Elimina el relleno por defecto */
  margin: 20px 0; /* Espaciado superior e inferior de la lista */
  display: flex; /* Activa flexbox */
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: center; /* Centra las cajas horizontalmente */
}

.category-item {
  padding: 10px; /* Espaciado interno dentro de cada ítem */
  margin: 5px 0; /* Espaciado entre los ítems de la lista */
  background-color: #2563eb; /* Fondo azul para cada ítem */
  color: white; /* Texto blanco */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
  text-align: center; /* Centra el texto dentro de cada ítem */
  width: 70%;
  font-family: "Inter", Helvetica, sans-serif;
}

.close-button {
  margin-top: 20px; /* Espaciado superior para separar el botón del contenido */
  padding: 15px 30px; /* Espaciado interno dentro del botón */
  background-color: #d9534f; /* Fondo rojo */
  color: white; /* Texto blanco */
  border: none; /* Sin bordes */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 15px;
  cursor: pointer; /* Indica interactividad al pasar el cursor */
  font-family: "Inter", Helvetica, sans-serif;
}

.close-button:hover {
  background-color: #c9302c; /* Cambia el color del fondo al pasar el cursor */

}

  