/* Contenedor de categorías */
.categories-container_home {
  display: flex; /* Mantiene las categorías en una fila */
  overflow-x: auto; /* Permite desplazamiento horizontal si hay muchas categorías */
  padding: 15px 25px; /* Espaciado interno */
  gap: 135px; /* Separación horizontal entre elementos */
}

/* Estilo de cada elemento de categoría */
.category-item_home {
  height: 48px; /* Altura definida */
  width: 135px; /* Ancho definido */
  color: #030712; /* Color del texto */
  font-family: "Inter-SemiBold", Helvetica, sans-serif; /* Fuente personalizada */
  font-size: 15px; /* Tamaño de la fuente */
  font-weight: 600; /* Grosor del texto */
  letter-spacing: -0.30px; /* Ajuste de espacio entre letras */
  line-height: 48px; /* Alinea el texto verticalmente dentro del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  transition: color 0.3s ease; /* Transición suave al interactuar */
}

/* Efecto hover sobre cada categoría */
.category-item_home :hover {
  color: #2563eb; /* Cambia el color del texto a azul al pasar el cursor */
}
